<launch>
	<arg name="xacro_name" default="$(find omni_vehicle)/urdf/omni_wheel/main.urdf.xacro"/>	

	<arg name="model_name" default="Omni_vehicle"/>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="paused" value="true" />
		<arg name="gui" value="true" />
	</include>

	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(arg xacro_name)' " />

	<node name="spawn_arm" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -x 0.0 -y 0.0 -z 0.0 -model $(arg model_name)"/>

</launch>
